footer {
    width: 100%;
    height: auto;
    padding: 10px 0;
    background-color: var(--bg1);
    margin-top: 50px;
}

footer .copyright {
    width: 100%;
    text-align: center;
    color: var(--color1);
}