<h1>Bem vindo!</h1>
<h2>Suas músicas favoritas em um só lugar!</h2>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Música</th>
            <th>Artista</th>
            <th>Capa</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let x of disco">
            <td>{{ x.id }}</td>
            <td>{{ x.nome }}</td>
            <td>{{ x.artista }}</td>
            <td>
                <img src="{{ x.img }}" alt="" />
            </td>
        </tr>
    </tbody>
</table>
