table {
    width: 80%;
    height: auto;
    border-collapse: collapse; /* Quebra as linhas (bordas) da tabela */
    display: block;
    margin: 0 auto;
}

table tr th,
table tr td {
    width: 25%;
    height: auto;
    text-align: center;
}

table tr td img {
    width: 50%;
    height: auto;
    object-fit: cover;
}