<form>
    <p>ID <input type="number" name="name" [(ngModel)]="disco.nome"></p>
    <p>Nome <input type="text" name="name" [(ngModel)]="disco.nome"></p>
    <p>Artista <input type="text" name="name" [(ngModel)]="disco.artista"></p>
    <p>Capa <input type="image" name="name" [(ngModel)]="disco.img"></p>
</form>
   
<table>
    <tr>
        <td>ID</td>
        <td>Nome</td>
        <td>Artista</td>
        <td>Capa</td>
    </tr>

    <tr *ngFor="let x of disco2">
        <th> {{x.id}} </th>
        <th> {{x.nome}} </th>
        <th> {{x.artista}} </th>
        <img src="{{ x.img }}" alt=""/>
    </tr>


</table>