<h1>Adicione uma música!</h1>

<form>
    <p>Nome <input type="text" name="name" [(ngModel)]="disco.nome"></p>
    <p>Artista <input type="text" name="name" [(ngModel)]="disco.artista"></p>
    <p>Álbum <input type="text" name="name" [(ngModel)]="disco.album"></p>
    <p>Capa <input type="image" name="name" [(ngModel)]="disco.img"></p>
</form>
   
<table>
    <tr>
        <td>Nome</td>
        <td>Artista</td>
        <td>Album<td>
    </tr>

    <tr *ngFor="let x of disco2">
        <th> {{x.nome}} </th>
        <th> {{x.artista}} </th>
        <th> {{x.album}} </th>
        <img src="{{ x.img }}" alt=""/>
    </tr>


</table>