h1 {
    font-size: 35px;
    margin-bottom: 5px;
    text-indent: 50px;
}
h2 {
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 15px;
    text-indent: 50px;
}
form {
    width: 70%;
    height: 300px;
    border-collapse: collapse; /* Quebra as linhas (bordas) da tabela */
    display: block;
    background-color: #cbdad5;
    border-radius: 20px;
    margin: 0 auto;
}
p {
    width: 25%;
    height: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
table tr th {
    width: 25%;
    height: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

table tr td {
    width: 25%;
    height: auto;
    text-align: center;
    padding-bottom: 20px;
    
}

table tr td img {
    width: 15%;
    height: auto;
    object-fit: cover;
}