<h1>Adicione uma música!</h1>

<form>
    <p>Música: <input type="text" name="name" [(ngModel)]="disco.nome"></p>
    <p>Artista: <input type="text" name="name" [(ngModel)]="disco.artista"></p>
</form>

   <h2>Seus artistas já adicionados</h2>

<table>
    <thead>
        <tr>
            <th>Música</th>
            <th>Artista</th>
            <th>Capa</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let x of disco2">
            <td>{{ x.nome }}</td>
            <td>{{ x.artista }}</td>
            <td>
                <img src="{{ x.img }}" alt="" />
            </td>
        </tr>
    </tbody>
</table>